body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffb007;
  flex-direction: column;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 50px;
  gap: 10px;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  transition: opacity 1s;
}

.prev,
.next {
  background-color: rgba(4, 4, 4, 0.623);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  visibility: visible;
}

.block {
  text-align: center;
  padding: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #dedddd;
  border-radius: 50%;
  cursor: pointer;
}

.active-dot {
  background-color: #434242;
}